body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f3f6;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#app{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #2874f0;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2874f0;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #1e5ab6;
}

.switch {
    margin-top: 15px;
    font-size: 14px;
}

.switch a {
    color: #2874f0;
    text-decoration: none;
    font-weight: 500;
}

.switch a:hover {
    text-decoration: underline;
}
.footer{
    margin-top: 150px;
}